.SideDrawer{
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left:0;
    top:0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

/* For bigger devices, hide the side drawer */
@media (min-width:500px)
{
    .SideDrawer{
        display: none;
    }
}

.Open{
    transform: translateX(0);
}

.Close{
    transform: translateX(-100%);
}

/* //we are overriding the Logo class's  (which is inside the Logo.css file) height property, and because
//this is in the separate css file, so it will not impact other components which are also using that class. */
.Logo{
    height: 11%;
    margin-bottom: 32px;
}